flow2.json
[{"id":"a987bf97.18002","type":"tab","label":"流程3","disabled":false,"info":""},{"id":"24f33c9e.d44084","type":"inject","z":"a987bf97.18002","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":180,"wires":[["3d22b508.68825a"]]},{"id":"3d22b508.68825a","type":"function","z":"a987bf97.18002","name":"payload","func":"msg.headers={\n    deviceKey: \"kCHX2ZPhRJt6MIos\"\n    };\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":180,"wires":[["5d100c1a.a99fb4"]]},{"id":"5d100c1a.a99fb4","type":"http request","z":"a987bf97.18002","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DD8jNe9y/datachannels/LEDControl/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":180,"wires":[["ac4bfd77.d23b3","56bd449e.a0032c"]]},{"id":"ac4bfd77.d23b3","type":"http response","z":"a987bf97.18002","name":"","statusCode":"","headers":{},"x":660,"y":180,"wires":[]},{"id":"56bd449e.a0032c","type":"debug","z":"a987bf97.18002","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":280,"wires":[]}]