flow3.json
[{"id":"62d13e3e.dd5a1","type":"tab","label":"流程4","disabled":false,"info":""},{"id":"c4525b5.c5eefa8","type":"inject","z":"62d13e3e.dd5a1","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":220,"wires":[["bf956e5e.be091"]]},{"id":"bf956e5e.be091","type":"function","z":"62d13e3e.dd5a1","name":"payload","func":"msg.headers={\n    deviceKey: \"kCHX2ZPhRJt6MIos\"\n    };\n    \nmsg.payload= \"Temperature,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["64d5905.ffd887"]]},{"id":"64d5905.ffd887","type":"http request","z":"62d13e3e.dd5a1","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DD8jNe9y/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":220,"wires":[["2f4e474c.9cc0f8","b49f9084.69038"]]},{"id":"2f4e474c.9cc0f8","type":"http response","z":"62d13e3e.dd5a1","name":"","statusCode":"","headers":{},"x":690,"y":220,"wires":[]},{"id":"b49f9084.69038","type":"debug","z":"62d13e3e.dd5a1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":280,"wires":[]}]